{% extends "template.html" %}
{% block content %}
	<h2>Wlecome to the Flask blog!</h2>
	<p><a href="/logout">Logout</a></p>
	<h3>Add a new post:</h3>
	<form action="{{ url_for('add') }}" method="post" class="add">
		<label><strong>Date(YYYY-MM-DD):</strong></label>
		<input name="entryDate" type="text">
		<label><strong>Batch:</strong></label>
		<input name="batch" type="text"><br/>
		<label><strong>Action:</strong></label>
		<input name="action" type="text">
		<label><strong>ActionNo:</strong></label>
		<input name="actionNo" type="text"><br/>
		<label><strong>Value:</strong></label>
		<input name="value" type="text">
		<label><strong>Notes:</strong></label>
		<textarea name="notes" rows="1" cols="35"></textarea><br/>
		<input class="button" type="submit" value="Save">
	</form>
	<br/>
	<br/>
	<h3>Posts:</h3>
	{% for p in posts %}
		{{ p.entryDate }} , {{ p.batch }} , {{ p.action }} , {{ p.actionNo }} , {{ p.value }} , {{ p.notes }} <br/>
	{% endfor %}
{% endblock %}