{% extends "template.html" %}
{% block content %}
	<h2>Wlecome to the Layers!</h2>
	<p><a href="/logout">Logout</a></p>
	<h3>Monthly Report:</h3>
	
	<form action="{{ url_for('report') }}" method="post" class="add">
		<label><strong>Start Date:</strong></label>
		<input name="startDate" type="date">
		<label><strong>End Date:</strong></label>
		<input name="endDate" type="date"><br/>
		<input class="button" type="submit" value="Search"><br/><br/>

	</form>
	
	<br/>
	<p>Slaughtered Broilers: {{ reportData.broilerSlaughter }}</p>
	<p>Sold Broilers: {{ reportData.broilerSold }} </p>
	<p>Slaughtered Sheep: {{ reportData.sheepSlaughter }} </p>
	<p>Slaughtered Pigs: {{ reportData.pigSlaughter }}</p>
	<p>Slaughtered Ducks: {{ reportData.drakeSlaughter }}</p>
	<p>Trays of eggs: {{ reportData.layerTray }}</p>
	<p>Total: {{ total }}
	<br/>
	<h3>Posts:</h3>
	{% for p in posts %}
		
		{{ p.entryDate }} , {{ p.batch }} , {{ p.action }} , {{ p.actionNo }} , {{ p.value }} , {{ p.notes }} <br/>
		
		<!--
		{{ p.batch }} , {{ p.age }} , {{ p.alive }} , {{ p.cvpb }} , {{ p.slaughtered }} , {{ p.sold }} , {{ p.dead }} , {{ p.totalSales }} , {{ totalExp }} <br/>
		-->

	{% endfor %}
{% endblock %}