{% extends "template.html" %}
{% block content %}
	<h2>Wlecome to Monthly report!</h2>
	<p><a href="/logout">Logout</a>&emsp;<a href='/main'>Home</a></p>
	<h3>Monthly Report:</h3>
	
	<form action="{{ url_for('report') }}" method="post" class="add">
		{{ form.csrf_token }}
		<label><strong>Start Date:</strong></label>
		<input name="startDate" type="text">
		<label><strong>End Date:</strong></label>
		<input name="endDate" type="text"><br/>
		<input class="button" type="submit" value="Search"><br/><br/>

	</form>
	
	<br/>

	<br/>
	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th width="100px" align="center"><strong></strong></th>
					<th width="150px" align="center"><strong></strong></th>
					<th width="150px" align="center"><strong>Meat Shop</strong></th>
					<th width="150px" align="center"><strong>Other</strong></th>
					<th width="150px" align="center"><strong>Total</strong></th>
				</tr>
			</thead>
			<tr>
				<td width="100px">Layers:</td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Tray #</td>
				<td width="150px" align="right">{{ meat_shop[0] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Trays Val</td>
				<td width="150px" align="right">${{ meat_shop[1] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px">Broilers:</td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Slaughter #</td>
				<td width="150px" align="right">{{ meat_shop[2] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Slaughter Val</td>
				<td width="150px" align="right">${{ meat_shop[3] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px">Pigs:</td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Slaughter #</td>
				<td width="150px" align="right">{{ meat_shop[4] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Slaughter Val</td>
				<td width="150px" align="right">${{ meat_shop[5] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px">Sheep:</td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Slaughter #</td>
				<td width="150px" align="right">{{ meat_shop[6] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Slaughter Val</td>
				<td width="150px" align="right">${{ meat_shop[7] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px">Ducks:</td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Slaughter #</td>
				<td width="150px" align="right">{{ meat_shop[8] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Tray #</td>
				<td width="150px" align="right">{{ meat_shop[9] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr>
				<td width="100px"></td>
				<td width="150px">Duck Val</td>
				<td width="150px" align="right">${{ meat_shop[10] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>
			</tr>
			<tr></tr>
			<tr>
				<td width="100px">Total:</td>
				<td width="150px"></td>
				<td width="150px" align="right">${{ meat_shop[11] }}</td>
				<td width="150px"></td>
				<td width="150px"></td>


		</table>
	</div>
	
	<br/>

	<br/>
	<!-- List posts -->
	<div class="posts">
		<br/>
		<br/>
		<h3>Posts:</h3>
		<div class="datagrid">
			<table>
				<thead>
					<tr>
						<th width="300px" align="left"><strong>entryDate</strong></th>
						<th width="300px" align="left"><strong>batch</strong></th>
						<th width="300px" align="left"><strong>action</strong></th>
						<th width="300px" align="left"><strong>actionNo</strong></th>
						<th width="300px" align="left"><strong>Value</strong></th>
						<td width="300px" align="left"><strong>Notes</strong><th>
					</tr>
				</thead>

				{% for p in posts %}
					<tr>
						<td width="300px">{{ p.entryDate }}</td>
						<td width="300px">{{ p.batch }}</td>
						<td width="300px">{{ p.action }}</td>
						<td width="300px">{{ p.actionNo }}</td>
						<td width="300px">{{ p.value }}</td>
						<td width="300px">{{ p.notes }}</td>
						

					</tr>

				{% endfor %}
			</table>
		</div>
	</div>	

{% endblock %}